<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringCloudServerDemoApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-cloud-server-demo" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springcloudserverdemo.SpringCloudServerDemoApplication" />
    <option name="VM_PARAMETERS" value="-Dspring.cloud.bootstrap.enabled=true" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>